@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
img {
  width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  height: 79px;
  padding-top: 22px;
  border-bottom: 1px solid #ececec;
}
.page-header__logo {
  width: 90px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 770px) {
  .page-header {
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 770px;
    height: 90px;
  }
  .page-header__logo {
    width: 110px;
    margin: 0;
  }
}
@media (min-width: 1250px) {
  .page-header {
    padding: 0 50px;
    width: 1150px;
    border-bottom: 1px solid #e7e7e7;
  }
  .page-header__logo {
    margin-left: 452px;
    width: 149px;
    height: 72px;
  }
}
.main-nav {
  background-color: #fff;
}
.main-nav--opened .main-nav__wrap {
  display: block;
  position: relative;
  top: 17px;
}
.main-nav--closed .main-nav__wrap {
  display: none;
}
.main-nav--nojs .main-nav__wrap {
  display: block;
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav__toggle {
  font-size: 0;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 30px;
  top: 26px;
}
.main-nav--opened .main-nav__toggle {
  background: url(../img/icon-menu-close.svg) no-repeat center;
}
.main-nav--closed .main-nav__toggle {
  background: url(../img/icon-menu-open.svg) no-repeat center;
}
.main-nav__delivery,
.main-nav__items--sales {
  display: none;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__link {
  position: relative;
  text-decoration: none;
  display: block;
  line-height: 78px;
  padding-left: 75px;
  border-top: 1px solid #ececec;
  font-size: 17px;
  color: #000000;
  font-weight: bold;
}
.main-nav__link--search::before {
  content: "";
  position: absolute;
  left: 33px;
  top: 31px;
  width: 18px;
  height: 19px;
  opacity: 0.2;
  background: url(../img/icon-search.svg) no-repeat center;
}
.main-nav__link--basket::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 31px;
  width: 21px;
  height: 18px;
  opacity: 0.2;
  background: url(../img/icon-cart.svg) no-repeat center;
}
.main-nav__link:hover {
  opacity: 0.6;
}
.main-nav__link:active {
  opacity: 0.3;
}
@media (min-width: 770px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav--closed .main-nav__wrap {
    display: block;
  }
  .main-nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav__items--sales {
    display: none;
  }
  .main-nav__items--pages {
    position: absolute;
    left: 50px;
    bottom: -40px;
    z-index: 2;
  }
  .main-nav__items--pages .main-nav__link {
    font-size: 15px;
    line-height: 24px;
  }
  .main-nav__link {
    line-height: normal;
    border: none;
    padding-left: 0;
  }
  .main-nav__link--form {
    margin-left: 35px;
  }
  .main-nav__link--search {
    width: 82px;
    font-size: 0;
    position: relative;
  }
  .main-nav__link--search::before {
    top: 0;
  }
  .main-nav__link--search::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 90px;
    top: -33px;
    left: 0;
    background-color: #ececec;
  }
  .main-nav__link--basket {
    position: relative;
    width: 267px;
    padding-left: 85px;
  }
  .main-nav__link--basket::before {
    top: 0;
  }
  .main-nav__link--basket::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 90px;
    top: -33px;
    left: 0;
    background-color: #ececec;
  }
  .main-nav__delivery {
    display: block;
    position: absolute;
    bottom: -55px;
    right: 50px;
    z-index: 2;
  }
  .main-nav__items--sales .main-nav__link,
  .main-nav__items--sales .main-nav__delivery {
    font-size: 15px;
    line-height: 24px;
  }
}
@media (min-width: 1250px) {
  .main-nav__items--pages {
    bottom: 35px;
    left: 50px;
  }
  .main-nav__items--pages .main-nav__link {
    font-size: 17px;
    line-height: 24px;
  }
  .main-nav__delivery {
    right: 50px;
  }
  .main-nav__link--basket {
    width: 270px;
  }
  .main-nav__link--basket::before {
    top: 5px;
    left: 33px;
  }
  .main-nav__link--basket::after {
    top: -28px;
  }
  .main-nav__items--sales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50px;
    bottom: -40px;
    z-index: 2;
  }
  .main-nav__link--new {
    margin-right: 60px;
  }
  .main-nav__link--form {
    padding-left: 35px;
  }
  .main-nav__link--form::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 90px;
    top: -26px;
    left: 0;
    background-color: #ececec;
  }
}
.intro {
  width: 320px;
  margin: 0 auto;
  padding-top: 70px;
  background: url(../img/hero-mobile@1x.jpg) no-repeat top;
  background-size: auto 373px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .intro {
    background-image: url(../img/hero-mobile@2x.jpg);
    background-size: auto 373px;
  }
}
.intro__title {
  width: 260px;
  margin: 0 auto 125px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.intro__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.intro__block:active {
  color: rgba(255, 255, 255, 0.3);
}
.intro__block--1 {
  background-color: #63d1bb;
}
.intro__block--1:hover {
  background-color: #59d5bc;
}
.intro__block--2 {
  background-color: #56c3b2;
}
.intro__block--2:hover {
  background-color: #46c1ae;
}
.intro__block:hover .intro__block-icon {
  fill: #239f8e;
}
@media (min-width: 770px) {
  .intro {
    position: relative;
    width: 770px;
    padding: 0 50px;
    padding-top: 153px;
    background: url(../img/hero-tablet@1x.jpg) no-repeat top;
    background-size: cover;
  }
  .intro::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 13px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1250px 20px;
  }
  .intro__title {
    width: 500px;
    margin-bottom: 370px;
    font-size: 43px;
    line-height: 50px;
  }
  .intro__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .intro__block {
    width: 334px;
    padding: 30px 35px;
    font-size: 20px;
    line-height: 30px;
  }
  .intro__block--1 {
    padding-right: 25px;
  }
}
@media (min-width: 770px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 770px) and (min-resolution: 144dpi), (min-width: 770px) and (min-resolution: 1.5dppx) {
  .intro {
    background: url(../img/hero-tablet@2x.jpg) no-repeat top;
    background-size: cover;
  }
}
@media (min-width: 1250px) {
  .intro {
    width: 1250px;
    padding-top: 152px;
    background: url(../img/hero-desktop@1x.jpg) no-repeat top;
    background-size: 1250px auto;
  }
  .intro::before {
    height: 20px;
    background-size: 1250px 37px;
  }
  .intro__title {
    width: 620px;
    margin-bottom: 360px;
    font-size: 53px;
    line-height: 57px;
  }
  .intro__blocks {
    width: 1050px;
    margin: 0 auto;
  }
  .intro__block {
    width: 525px;
  }
}
@media (min-width: 1250px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1250px) and (min-resolution: 144dpi), (min-width: 1250px) and (min-resolution: 1.5dppx) {
  .intro {
    background: url(../img/hero-desktop@2x.jpg) no-repeat top;
    background-size: 1250px auto;
  }
}
.weekend-top {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 27px;
  padding-bottom: 42px;
}
.weekend-top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 7px;
  background: url(../img/bg-zigzag-line.svg) no-repeat top;
  background-size: 320px 7px;
}
.weekend-top__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.weekend-top__product {
  margin: 0;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
}
.weekend-top__price {
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}
.weekend-top__button {
  width: 260px;
  padding: 14px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  background: none;
  border: 2px solid #444444;
  cursor: pointer;
}
.weekend-top__button:hover {
  color: #ffffff;
  background-color: #444444;
}
.weekend-top__button:active {
  color: rgba(255, 255, 255, 0.3);
}
.weekend-top__table {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
}
.weekend-top__table-td {
  padding: 8px 0;
  border-bottom: 1px solid #ececec;
}
.weekend-top__table-td:first-child {
  width: 100px;
}
@media (min-width: 770px) {
  .weekend-top {
    width: 770px;
    padding: 44px 50px 68px;
  }
  .weekend-top::before {
    width: 770px;
    height: 17px;
    background-size: 770px 17px;
  }
  .weekend-top__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 43px;
    padding-right: 30px;
  }
  .weekend-top__title {
    font-size: 43px;
    line-height: 50px;
  }
  .weekend-top__product {
    width: 75px;
    margin-bottom: 0;
    text-align: center;
  }
  .weekend-top__wrap {
    width: 290px;
  }
  .weekend-top__text {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }
  .weekend-top__table {
    margin-bottom: 55px;
  }
  .weekend-top__picture {
    position: absolute;
    top: 150px;
    right: 50px;
    z-index: -2;
    width: 334px;
    height: 404px;
  }
  .weekend-top__price {
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
  }
  .weekend-top__button {
    width: 290px;
  }
}
@media (min-width: 1250px) {
  .weekend-top {
    width: 1050px;
    padding: 0;
    padding-top: 118px;
    padding-bottom: 100px;
    padding-left: 170px;
  }
  .weekend-top::before {
    width: 1050px;
    height: 23px;
    background-size: 1050px auto;
  }
  .weekend-top__title {
    font-size: 53px;
    line-height: 57px;
  }
  .weekend-top__product {
    position: absolute;
    top: 134px;
    left: 46px;
    line-height: 17px;
  }
  .weekend-top__picture {
    top: 68px;
    right: 0;
    width: 525px;
    height: 636px;
  }
  .weekend-top__text {
    margin-bottom: 50px;
  }
  .weekend-top__table {
    margin-bottom: 107px;
  }
  .weekend-top__wrap {
    margin-left: 5px;
  }
}
.about-us {
  width: 320px;
  margin: 0 auto;
  padding: 5px 30px 0;
}
.about-us__title {
  margin-bottom: 0;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.about-us__item {
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
.about-us__item::before {
  content: "";
  position: absolute;
}
.about-us__item--1 {
  padding-top: 88px;
}
.about-us__item--1::before {
  top: 31px;
  left: 8px;
  width: 33px;
  height: 38px;
  background: url(../img/icon-feature-flower.svg) no-repeat center;
}
.about-us__item--2 {
  padding-top: 84px;
}
.about-us__item--2::before {
  top: 31px;
  width: 47px;
  height: 27px;
  background: url(../img/icon-feature-money.svg) no-repeat center;
}
.about-us__item--3 {
  padding-top: 82px;
}
.about-us__item--3::before {
  top: 33px;
  left: 5px;
  width: 34px;
  height: 28px;
  background: url(../img/icon-feature-heart.svg) no-repeat center;
}
.about-us__item--4 {
  padding-top: 82px;
}
.about-us__item--4::before {
  top: 33px;
  left: 3px;
  width: 35px;
  height: 34px;
  background: url(../img/icon-feature-ball.svg) no-repeat center;
}
.about-us__item--5 {
  padding-top: 82px;
}
.about-us__item--5::before {
  top: 33px;
  left: -5px;
  width: 55px;
  height: 23px;
  background: url(../img/icon-feature-rocket.svg) no-repeat left;
}
.about-us__item--6 {
  padding-top: 82px;
}
.about-us__item--6::before {
  top: 33px;
  left: 3px;
  width: 35px;
  height: 34px;
  background: url(../img/icon-feature-gift.svg) no-repeat center;
}
@media (min-width: 770px) {
  .about-us {
    width: 770px;
    padding: 14px 50px 0;
  }
  .about-us__title {
    margin-bottom: 16px;
    font-size: 43px;
    line-height: 50px;
  }
  .about-us__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-us__item {
    width: 334px;
    margin-bottom: 30px;
    padding-top: 84px;
    font-size: 20px;
    line-height: 22px;
  }
  .about-us__item--2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .about-us__item--3 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .about-us__item--4 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-us__item--5 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .about-us__item--6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}
@media (min-width: 1250px) {
  .about-us {
    width: 1250px;
    padding: 11px 275px 0;
  }
  .about-us__title {
    margin-bottom: 16px;
    font-size: 53px;
    line-height: 57px;
  }
  .about-us__item {
    width: 350px;
  }
}
.review {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 35px 30px 50px;
}
.review::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 7px;
  background: url(../img/bg-zigzag-line.svg) no-repeat top;
  background-size: 320px 7px;
}
.review__title {
  margin-bottom: 27px;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.review__text {
  margin-bottom: 25px;
  line-height: 30px;
}
.review__avtor-wrap {
  margin-bottom: 33px;
}
.review__avtor {
  margin: 0;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}
.review__avtor-teg {
  margin: 0;
  font-size: 17px;
}
.review__arrrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px;
}
.review__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 50px;
  background-color: inherit;
  border: 1px solid #ececec;
  cursor: pointer;
}
.review__arrow:hover .review__arrow-icon {
  fill: #666666;
}
.review__arrow:active .review__arrow-icon {
  fill: #b2b2b2;
}
.review__btn {
  display: block;
  width: 260px;
  padding: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444;
}
@media (min-width: 770px) {
  .review {
    width: 770px;
    padding: 92px 50px 100px;
  }
  .review::after {
    content: "";
    position: absolute;
    width: 350px;
    height: 457px;
    top: 50px;
    left: 0;
    background: url(../img/review@1x.jpg) no-repeat center;
    z-index: -2;
  }
  .review::before {
    width: 770px;
    height: 17px;
    background-size: 770px 17px;
  }
  .review__title {
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }
  .review__text {
    margin-bottom: 57px;
    font-size: 17px;
  }
  .review__avtor {
    font-size: 18px;
  }
  .review__arrow {
    width: 89px;
    border: none;
  }
  .review__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .review__btn {
    width: 173px;
    position: absolute;
    top: 129px;
    right: 52px;
  }
}
@media (min-width: 770px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 770px) and (min-resolution: 144dpi), (min-width: 770px) and (min-resolution: 1.5dppx) {
  .review::after {
    background: url(../img/review@2x.jpg) no-repeat center;
    background-size: cover;
  }
}
@media (min-width: 1250px) {
  .review {
    width: 1050px;
    padding: 83px 0 155px 175px;
  }
  .review::after {
    top: 56px;
  }
  .review::before {
    width: 1050px;
    height: 23px;
    background-size: 1050px auto;
  }
  .review__title {
    margin-bottom: 49px;
    font-size: 53px;
    line-height: 57px;
  }
  .review__text {
    width: 777px;
    margin-bottom: 37px;
  }
  .review__avtor {
    font-size: 17px;
  }
  .review__btn {
    top: 135px;
    right: 0;
    width: 175px;
  }
}
.contacts {
  width: 320px;
  margin: 0 auto;
  padding: 24px 0 0;
  margin-bottom: 40px;
}
.contacts__title {
  margin-bottom: 25px;
  margin-left: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.contacts__wrap {
  margin-bottom: 37px;
  padding: 0 30px;
  line-height: 30px;
}
.contacts__mail-link {
  position: relative;
  margin-left: 26px;
  color: #444444;
  text-decoration: none;
}
.contacts__mail-link::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
}
.contacts__mail-wrap {
  margin-bottom: 30px;
}
.contacts__adress-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__adress-text {
  width: 160px;
  margin-left: 30px;
}
.contacts__map {
  height: 457px;
  margin-bottom: 40px;
  background: url(../img/map-mobile@1x.jpg) no-repeat top;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contacts__map {
    background-image: url(../img/map-mobile@2x.jpg);
    background-size: 320px auto;
  }
}
.contacts__btn {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 13px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #444444;
}
.contacts__adress-text-br {
  display: none;
}
@media (min-width: 770px) {
  .contacts {
    position: relative;
    width: 770px;
    padding-top: 25px;
    margin-bottom: 59px;
  }
  .contacts::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 81px;
    right: 54px;
    top: 48px;
    background: url(../img/icon-flag.svg) no-repeat center;
  }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: 47px;
    margin-bottom: 50px;
  }
  .contacts__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 50px;
    font-size: 17px;
    margin-bottom: 57px;
  }
  .contacts__mail-wrap,
  .contacts__adress-wrap {
    width: 334px;
  }
  .contacts__mail-link {
    margin-left: 21px;
  }
  .contacts__adress-text {
    width: 230px;
    margin-left: 26px;
  }
  .contacts__adress-text-br {
    display: block;
  }
  .contacts__map {
    height: 457px;
    margin-bottom: 55px;
    background: url(../img/map-tablet@1x.jpg) no-repeat top;
  }
  .contacts__btn {
    width: 230px;
    font-size: 17px;
    line-height: 20px;
  }
}
@media (min-width: 770px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 770px) and (min-resolution: 144dpi), (min-width: 770px) and (min-resolution: 1.5dppx) {
  .contacts__map {
    background-image: url(../img/map-tablet@2x.jpg);
    background-size: 770px auto;
  }
}
@media (min-width: 1250px) {
  .contacts {
    width: 1250px;
    padding: 98px 0 0 275px;
    margin-bottom: 107px;
  }
  .contacts::before {
    left: 162px;
    top: 134px;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: -5px;
  }
  .contacts__wrap {
    display: block;
    padding: 0;
    margin-bottom: 78px;
  }
  .contacts__map {
    position: absolute;
    right: 100px;
    top: 70px;
    width: 525px;
    height: 457px;
  }
  .contacts__btn {
    margin: 0;
  }
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #f1f1f1;
}
.page-footer__social {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  padding: 25px 60px 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
.page-footer__social-link {
  display: block;
  font-size: 0;
}
.page-footer__social-icon:hover {
  fill: #46c1ae;
}
.page-footer__social-icon:active {
  fill: #bde3dd;
}
.page-footer__copyright {
  padding: 20px 0 25px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.page-footer__copyright-icon {
  fill: #63d1bb;
}
.page-footer__copyright-icon:hover {
  fill: #46c1ae;
}
.page-footer__copyright-icon:active {
  fill: #bde3dd;
}
.page-footer__logo {
  display: none;
}
@media (min-width: 770px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 770px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 31px 50px;
  }
  .page-footer__logo-icon:hover {
    fill: #46c1ae;
  }
  .page-footer__logo-icon:active {
    fill: #bde3dd;
  }
  .page-footer__logo {
    display: block;
    margin-right: 160px;
  }
  .page-footer__social {
    padding: 25px 0 13px;
    width: 140px;
    margin: 0;
    margin-right: 85px;
    border: none;
  }
  .page-footer__copyright {
    width: 182px;
    margin: 0;
    padding: 22px 0 22px;
  }
}
@media (min-width: 1250px) {
  .page-footer {
    width: 1250px;
    padding: 31px 100px;
  }
  .page-footer__logo {
    margin-right: 350px;
  }
  .page-footer__social {
    margin-right: 274px;
  }
}
.inner-intro {
  width: 320px;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 55px 0;
}
.inner-intro__title {
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
}
@media (min-width: 770px) {
  .inner-intro {
    width: 770px;
    padding: 64px 0;
    position: relative;
  }
  .inner-intro::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 23px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 770px 23px;
  }
  .inner-intro__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .inner-intro {
    width: 1150px;
    padding: 60px 0 69px;
  }
  .inner-intro::before {
    height: 23px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-size: 1150px 36px;
  }
  .inner-intro__title {
    font-size: 53px;
    line-height: 57px;
  }
}
