.intro {
  width: 320px;
  margin: 0 auto;

  padding-top: 85px;
  background: url(../img/hero-mobile@1x.jpg) no-repeat top;
}

.intro__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  width: 260px;
  margin: 0 auto 115px;
}

.intro__block {
  padding: 30px;
  &--1 {
    background-color: #63d1bb;
  }
  &--2 {
    background-color: #56c3b2;
  }
}

.intro__block-link {
  display: block;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;

  width: 130px;

}
