.main-nav {
  background-color: #fff;
}

.main-nav--opened .main-nav__wrap {
  display: block;
  position: relative;
  top: 17px;
}

.main-nav--closed .main-nav__wrap {
 display: none;
}

.main-nav__toggle {
  font-size: 0;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;

  position: absolute;
  right: 30px;
  top: 26px;

}

.main-nav--opened .main-nav__toggle {
  background: url(../img/icon-menu-close.svg) no-repeat center;
}

.main-nav--closed .main-nav__toggle {
  background: url(../img/icon-menu-open.svg) no-repeat center;
}

//

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  text-decoration: none;
  display: block;
  line-height: 78px;
  text-align: center;
   border-top: 1px solid #ececec;

}
