.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  height: 79px;
  vertical-align: middle;
  padding-top: 22px;
   border-bottom: 1px solid #ececec;
}

.page-header__logo {
  display:block;
  width: 90px;

  display: block;
  margin: 0 auto;
}
